<h1 class="text-bg-primary text-center p-5 m-4">movies componant</h1>


<hr>

<div class="container">
  <div class="row g-3 ">
   @for (movie of movies; track $index) {
    <div class="col-md-3 border ">
      <h2 >{{movie.title}} {{movie.name}}</h2>
      
      <img [src]="imgbase + movie.poster_path" class="w-100" height="200px" alt="">
      <p>{{movie.overview.split(" ",3).join(" ")}}</p>
      <span class="bg-danger-subtle" >vote:{{movie.vote_count}}</span>

    </div>
   }
  </div>
</div>

